<div class="client-home-body">
<div class="row">
    <div class="col-md-9">
        <form class="client-search-section">
            <input placeholder="Search Page / Website" class="client-search-box"/>
            <button class="client-search-btn bg-dark">Search</button>
        </form>
    </div>
    <div class="col-md-3 text-center">
        <button class="btn btn-primary">Hello World</button>
        <select class="client-selection-dropdown">
            <option>Adarsh Simar</option>
            <option>Logout</option>
        </select>
    </div>
</div>
</div>
<br/>
<h3><i class="fa-solid fa-chart-simple px-2 my-2" style="color: #0e1e3a;"></i>STATISTICS</h3>
<div class="row my-4 text-white">
    <div class="col-md-3">
        <div class="container-fluid rounded p-3 bg-primary">
            <h3>Total Website</h3>
            <p>Hello World</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container-fluid rounded p-3 bg-dark">
            <h3>Total Website</h3>
            <p>Hello World</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container-fluid rounded p-3 bg-danger">
            <h3>Total Website</h3>
            <p>Hello World</p>
        </div>
    </div>
    <div class="col-md-3">
        <div class="container-fluid rounded p-3 bg-warning">
            <h3>Total Website</h3>
            <p>Hello World</p>
        </div>
    </div>
</div>

<div class="container-fluid rounded border p-3 my-5">
    
    <div class="row">
        <div class="col-md-5">
            <h3><i class="fa-solid fa-book-open-reader px-2" style="color: #162b50;"></i>LOGS</h3>
        </div>
        <div class="col-md-7 d-flex justify-content-end">
            <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Search Logs" aria-describedby="button-addon2">
                <button class="btn btn-outline-secondary" type="button" id="button-addon2">Search</button>
              </div>
        </div>
    </div>
    <br/>

    <div class="row px-3">
        <div class="logs">
            <div class="alert alert-primary" role="alert">
                A simple primary alert—check it out!
              </div>
              <div class="alert alert-secondary" role="alert">
                A simple secondary alert—check it out!
              </div>
              <div class="alert alert-success" role="alert">
                A simple success alert—check it out!
              </div>
              <div class="alert alert-primary" role="alert">
                A simple primary alert—check it out!
              </div>
              <div class="alert alert-secondary" role="alert">
                A simple secondary alert—check it out!
              </div>
              <div class="alert alert-success" role="alert">
                A simple success alert—check it out!
              </div>
              <div class="alert alert-success" role="alert">
                A simple success alert—check it out!
              </div>
              <div class="alert alert-success" role="alert">
                A simple success alert—check it out!
              </div>
        </div>
    </div>
</div>