<div class="client-body">
    <div class="client-sidebar">
        <h2 class="mt5">Client</h2>
        <br/>
        <div class="client-sidebar-btn-section">
            <button class="client-side-btn" routerLink="home"><i class="fa-solid fa-house px-2" style="color: #f5f5f5;"></i>Home</button>
            <button class="client-side-btn" routerLink="create"><i class="fa-regular fa-square-plus px-2" style="color: #ffffff;"></i>Create Website</button>
            <button class="client-side-btn" routerLink="manage"><i class="fa-solid fa-bars-progress px-2" style="color: #ffffff;"></i>Manage Websites</button>
            <button class="client-side-btn" routerLink="users"><i class="fa-solid fa-user px-2" style="color: #ffffff;"></i>Users</button>
            <button class="client-side-btn" routerLink="settings"><i class="fa-solid fa-gear px-2" style="color: #ffffff;"></i>Settings</button>
        </div>
    </div>
    <div class="client-main-body">
        <router-outlet></router-outlet>
    </div>
</div>