<div class="container-fluid border rounded p-3">
    <h4><i class="fa-solid fa-circle-plus px-2" style="color: #091120;"></i>CREATE NEW WEBSITE</h4>
    <br/>
    <form>
    <div class="row p-4">
        <div class="col-md-6">
            <div class="mb-3">
                <label for="websiteName" class="form-label">Website Name</label>
                <input type="text" class="form-control" id="websiteName" placeholder="Enter Website Name">
              </div>
        </div>
        <div class="col-md-6">
            <div class="mb-3">
                <label for="Description" class="form-label">Description</label>
                <input type="text" class="form-control" id="Description" placeholder="Website Description">
              </div>
        </div>
        <br/>
        <div class="row my-4">
            <div class="col-md-4">
                <h6>Choose Style</h6>
                <select class="ddown">
                    <option class="">Choose</option>
                </select>
            </div>
            
            <div class="col-md-4">
                <h6>Public Access</h6>
                <select class="ddown">
                    <option class="">Choose</option>
                </select>
            </div>
            <div class="col-md-4">
                <h6>Version System</h6>
                <select class="ddown">
                    <option class="">Choose</option>
                </select>
            </div>
        </div>
        <h6 class="my-4">Choose Theme</h6>
        <div class="row text-white">
            <div class="col-md-3">
                <div class="container rounded bg-primary p-3 template">
                    <h5>BASIC PORTFOLIO</h5>
                    <p>Basic Portfolio that contains information about you.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container rounded bg-dark p-3 template">
                    <h5>PRODUCT SHOWCASE</h5>
                    <p>Own an Product ? Why not make it public for everyone.</p>
                </div>
            </div>
            <div class="col-md-3">
                <div class="container rounded bg-success p-3 template">
                    <h5>PERSONAL SPACE</h5>
                    <p>It's your own space store any information you want.</p>
                </div>
            </div>
            <div class="col-md-3 text-dark">
                <div class="container border rounded p-3 template">
                    <h5>CUSTOM</h5>
                    <p>Custom Template provides you with full customization of website.</p>
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-md d-flex justify-content-end">
                <button class="btn btn-success px-4">Create</button>
            </div>
        </div>
    </div>
</form>
</div>