<app-entry-header></app-entry-header>

<div class="login-container">
    <div class="container" id="log-container">
        <div class="row">
            <div class="col-md-6">
                <img class="login-image" src="https://images.unsplash.com/photo-1600476061596-a0815671e5c8?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"></div>
            <div class="col-md-5 bg-dark text-center text-white p-5">
                <h3 class="mb-6 text-info">R E G I S T R A T I O N</h3>
                <div class="login-input-box">
                <form [formGroup]="registerForm" (ngSubmit)="register()">
                    <input placeholder="Name" type="text" formControlName="name" /><br/>
                    <input placeholder="Email / Username" type="text" formControlName="email" /><br/>
                    <input placeholder="Password" type="password" formControlName="password" /><br/>
                    <button class="login-btn" [disabled]="!this.registerForm.valid" >R E G I S T E R</button>
                </form>
            </div>
            <p class="mt-5">Already have an Account ? <br/>
            <button class="text-white bg-success mt-3 px-2" id="regButton" [routerLink]="['/login']">Login Here</button></p>
            </div>
        </div>
    </div>
</div>
